.menu,
.menu nav {
  background: brown;
  text-align: center;
  color: white;
}

.menu nav {
  display: none;
  position: absolute;
  width: 100%;
}

.menu nav nav {
  top: 0;
  left: 100%;
}

.menu span:hover > nav {
  display: block;
}

.menu span {
  display: inline-block;
  width: 100px;
  line-height: 30px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.menu span:hover{
  background: teal;
  color: black;
}

body {
  background-color: blue;
  font-family: tahoma;
}

/* graceful-degration: web first */
/* progressive-enhancement mobile first */

@media screen and (max-width: 700px) {

}
